@import './src/styles/colors';
@import './src/styles/mixins';
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Varela+Round&display=swap');

// Resets
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    background-color: initial;
    outline: none; // don't forget indicator for focus state
    font: inherit;
}

input,
textarea,
select,
option,
span {
    outline: none; // don't forget indicator for focus state
    font: inherit;
}

// Common Styles
.error {
    color: $color-error;
}

// Base Styles
body {
    margin: 0;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
    font-family: 'Varela Round', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
    &__container {
        height: calc(100vh - 50px);
        display: flex;
    }
}

// Styles
.header {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: $color-accent-dark-blue;
}

.logo {
    font-size: 1.5rem;
    color: $color-highlight;

    &__icon {
        font-size: 2rem;
        padding-left: 16px;
    }

    &__text {
        padding-left: 16px;
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: $color-dark;
    width: 65px;
}

.menu {
    display: flex;
    flex-direction: column;

    &__button {
        padding: 10px 0;
        transition: $transition-normal;
        color: $color-shadow;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover,
        &:focus {
            background-color: lighten($color-dark, 5%);
            color: $color-highlight;
        }

        &.active {
            background-color: lighten($color-dark, 10%);
            border-left: solid 3px $color-accent-green;
            color: $color-highlight;

            &:hover,
            &:focus {
                background-color: lighten($color-dark, 15%);
            }
        }
    }

    &__icon {
        font-size: 1.25rem;
        padding-bottom: 2px;
    }

    &__text {
        font-size: 0.6rem;
    }
}

.items-panel {
    background-color: lighten($color-accent-dark-blue, 10%);
    position: relative;
    width: 300px;

    .item-panel {
        display: none;
        height: 100%;
        width: 300px;
        padding: 18px;
        opacity: 0;
        overflow: auto;
        color: $color-highlight;
        position: absolute;
        transition: $transition-normal;

        &.active {
            display: flex;
            opacity: 1;
        }
    }
}

.main {
    height: calc(100vh - 50px); // 50px - .header
    width: calc(100vw - 300px - 50px); // 300
    overflow: auto;
}

.modal, .confirm {
    
    &__content {
        background-color: $color-highlight;
        color: $color-dark;
        min-width: 800px;
        position: fixed;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.38);
        border-radius: 10px;
        z-index: 11;
        overflow-y: auto;
    }

    &__backdrop {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.38);
        backdrop-filter: blur(2px);
        z-index: 10;
    }
}

.confirm {
    &__content {
        min-width: 400px;
    }
}

.confirm-box__overlay {
    display: none;
}

// Scrollbars

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    opacity: 0;
}

::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #222; 
    border-radius: 200px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

// Reused Styles
.form {
    padding: 20px;
    font-size: 1.1rem;

    &:not(.no-grid) {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 8px;
    }

    &__group {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 8px;
    }

    &:not(.no-grid) &__group {
        grid-column: 1/3;
    }

    &__title {
        margin: -10px -10px 10px -10px;

        i {
            font-size: 1.25em;
            vertical-align: text-bottom;
            padding-right: 5px;
        }
    }

    &:not(.no-grid) &__title {
        grid-column: 1/3;
    }

    &:not(.no-grid) &__row {
        grid-column: 1/3;
    }

    &__label {
        padding-top: 4px;
        text-align: right;
    }

    &__label:not(.no-colon)::after {
        content: ':'
    }

    &__input, &__textarea, &__select {
        border-radius: 5px;
        padding: 0 10px;
        outline: none;
    }

    &__input, &__select {
        height: 30px;
        width: 100%;
    }

    &__select {
        padding: 0 5px;
        width: fit-content;
    }

    &__textarea {
        padding: 10px;
    }

    &__radio, &__checkbox {
        @include icon-button;
        display: inline-block;
        margin-right: 5px;
        padding: 5px;
    }

    &__buttons {
        display: flex;
        justify-items: end;
        margin-top: 16px;
    }
    
    &:not(.no-grid) &__buttons {
        grid-column: 1 / 3;
    }

    &__submit,
    &__button {
        border-radius: 5px;
        min-width: 75px;
        padding: 8px 16px;
        margin-left: 5px;
        cursor: pointer;

        &:first-of-type {
            margin-left: auto;
        }
    }

    &__button {
        @include button;
    }

    &__submit {
        @include primary-button;
    }

    // Quill text editor
    .ql-editor {
        min-height: 150px;
        border: 1px solid;
        border-radius: 5px;
        padding: 5px 10px;
        outline: none;
    }

    & .tab-list {
        grid-column: 1/3;
    }
}

.tab-list {
    display: flex;
    align-items: center;
    gap: 5px;
    border-bottom: 2px solid #b4b9c0;
    margin-bottom: 8px;
    
    &__title {
        padding-top: 3px; // To account for border of tabs.
        padding-left: 2px;
        padding-right: 8px;

        &::after {
            content: ':';
        }
    }

    &__button {
        @include button;
        padding: 4px 8px;
        margin-bottom: -2.5px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        &.selected {
            @include primary-button;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        &.selected:hover {
            border-bottom-color: white;
        }

        &:not(.selected) {
            background: rgb(226,226,226);
            background: linear-gradient(0deg, rgba(226,226,226,1) 0%, rgba(236,236,236,1) 6%, rgba(255,255,255,1) 12%, rgba(255,255,255,1) 100%);        }
    }
}

.button-group {
    display: grid;
    grid-template-columns: 1fr auto auto auto;

    &__button {
        @include button;
        padding: 2px 8px;
        margin-left: 5px;
    }
}

.fas {
    &.super {
        position: relative;
        top: -5px
    }

    &.sub {
        position: relative;
        bottom: -5px;
    }
}

[class^="icon-"], [class*=" icon-"] {
    &.icon-2xs { font-size: 0.625em }
    &.icon-xs { font-size: 0.75em }
    &.icon-sm { font-size: 0.875em }
    &.icon-lg { font-size: 1.25em }
    &.icon-xl { font-size: 1.5em }
    &.icon-2xl { font-size: 2em }
}

// ReactQuill styles
.ql-snow.ql-container {
    font-size: 1em;
    border: none;
}

.ql-snow.ql-toolbar {
    display: flex;
    gap: 5px;
    border: none;
    padding: 0;
    margin-bottom: 5px;

    button {
        @include ql-button;
        
        margin: 0;
        width: 23px;
        height: 23px;
        padding: 3px;
        font-size: 0.75em;
        float: none;

        &.ql-link, &.ql-clean {
            margin-left: 10px;
        }
    }
}