@import './src/styles/colors';
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Varela+Round&display=swap');

// Resets
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    background-color: initial;
    outline: none; // don't forget indicator for focus state
    font: inherit;
}

input,
textarea,
select,
option {
    outline: none; // don't forget indicator for focus state
    font: inherit;
}

// Base Styles
.app {
    margin: 0;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
    font-family: 'Varela Round', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &__container {
        height: calc(100vh - 65px);
        display: flex;
    }
}

// Styles
.header {
    display: flex;
    align-items: center;
    height: 65px;
    background-color: $color-accent-dark-blue;
}

.logo {
    font-size: 1.5em;
    color: $color-highlight;

    &__icon {
        padding-left: 16px;
    }

    &__text {
        padding-left: 16px;
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: $color-dark;
    width: 65px;
}

.menu {
    display: flex;
    flex-direction: column;

    &__button {
        padding: 10px 0;
        transition: $transition-normal;
        color: $color-shadow;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover,
        &:focus {
            background-color: lighten($color-dark, 5%);
            color: $color-highlight;
        }

        &.active {
            background-color: lighten($color-dark, 10%);
            border-left: solid 3px $color-accent-green;
            color: $color-highlight;

            &:hover,
            &:focus {
                background-color: lighten($color-dark, 15%);
            }
        }
    }

    &__icon {
        font-size: 1.25rem;
        padding-bottom: 2px;
    }

    &__text {
        font-size: 0.6rem;
    }
}

.items-panel {
    background-color: lighten($color-accent-dark-blue, 10%);
    position: relative;
    width: 300px;

    .item-panel {
        display: none;
        height: 100%;
        width: 300px;
        padding: 18px;
        opacity: 0;
        overflow: auto;
        color: $color-highlight;
        position: absolute;
        transition: $transition-normal;

        &.active {
            display: flex;
            opacity: 1;
        }
    }
}

.main {
    height: calc(100vh - 65px); // 65px - .header
    width: calc(100vw - 300px - 65px); // 300
    overflow: auto;
}

// Reused Styles
.form {
    padding: 25px;
    font-size: 1.1rem;

    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;

    &__label {
        padding-top: 9px;
        text-align: right;
    }

    &__label:not(.no-colon)::after {
        content: ':'
    }

    &__input, &__textarea {
        border-radius: 5px;
        padding: 0 10px;
        outline: none;
    }

    &__input {
        height: 38px;
    }

    &__textarea {
        padding: 10px;
    }

    &__radio input[type="radio"] {
        display: none;
    }

    &__radio {
        display: inline-block;
        margin-top: 4px;
        margin-right: 5px;
        padding: 5px 10px;
        border: solid 1px gray;
        border-radius: 5px;
    }

    &__radio.checked {
        color: white;
        background: $color-accent-green;
    }

    &__buttons {
        display: flex;
        justify-items: end;
        grid-column: 1 / 3;
        margin-top: 16px;
    }

    &__submit,
    &__button {
        border: 2px solid $color_dark;
        border-radius: 5px;
        min-width: 75px;
        padding: 8px 16px;
        margin-left: 5px;
        cursor: pointer;

        &:first-of-type {
            margin-left: auto;
        }
    }

    &__button {
        border-color: lighten($color-dark, 50%);
        background-color: $color-highlight;
        color: $color-dark;

        &:hover,
        &:focus {
            background-color: rgba($color-accent-green, 0.2);
        }
    }

    &__submit {
        border-color: transparent;
        background-color: $color-accent-green;
        color: $color-highlight;

        &:hover,
        &:focus {
            border-color: $color-accent-green;
            background-color: $color-highlight;
            color: $color-accent-green;
        }
    }
}

.tool-button {
    background-color: $color-shadow;
    border-radius: 3px;
    height: 35px;
    width: 35px;
    opacity: 0.7;
    transition: $transition-normal;

    &:hover,
    &:focus {
        background-color: $color-highlight;
        opacity: 1;
    }

    & i.fas {
        pointer-events: none;
    }
}

.fas {
    &.super {
        position: relative;
        top: -5px
    }

    &.sub {
        position: relative;
        bottom: -5px;
    }
}