@import './src/styles/mixins';
@import './src/styles/colors';

.view-editor {
    background-color: $color-shadow;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: top;
    position: relative;

    &__page {
        width: 65vw;
        background-color: $color-highlight;
    }

    .section {
        margin: 15px; // TODO: This will be a property of how the section is generally defined.
        display: grid;
        gap: 15px; // TODO: This will be a property of how the section is generally defined.
        position: relative;

        &__grid-column,
        &__grid-row {
            background-color: lighten($color-dark, 70);
            pointer-events: none;
            position: absolute;
        }

        &__grid-column {
            height: 100%;
        }

        &__grid-row {
            width: 100%;
        }

        .selector {
            display: inline-block;
            position: absolute;
            background-color: rgba($color-dark, 0.2);
        }

        .hover {
            display: inline-block;
            position: absolute;
            border: $color-dark solid 5px;
        }
    }

    .element {
        transition: top 0.2s, left 0.2s, width 0.2s, height 0.2s;
        display: flex;

        &__image {
            height: 100%;
            width: 100%;
            object-fit: cover;

            &.error {
                visibility: hidden;
            }
        }

        &__error {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 90%;
            font-weight: 400;
            color: #FCA712;

            p {
                background-color: rgba(white, 0.7);
            }
        }

        &__text {
            height: 100%;
            width: 100%;
            padding: 5px;
            font-size: 2em;
            outline: none;
            border: none;
            background: transparent;
            resize: none;
            outline: none;
            overflow: visible;
            background: white;
        }

        &__edit-button {
            display: none;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
        }

        &__button {
            border: 2px solid $color_dark;
            border-radius: 5px;
            min-width: 75px;
            padding: 8px 16px;
            cursor: pointer;
        }
    
        &__button {
            border-color: lighten($color-dark, 50%);
            background-color: $color-highlight;
            color: $color-dark;
    
            &:hover,
            &:focus {
                background-color: $color-accent-light-green;
                color: black;
            }
        }

        &__tool-buttons, &__close-button {
            position: absolute;
            display: none;
            flex-direction: column;
            gap: 5px;
            transition: $transition-normal;
        }

        &__tool-buttons {
            top: 10px;
            left: 10px;
        }

        &__close-button {
            top: 10px;
            right: 10px;
        }

        &--no-transition {
            transition: none;
        }

        &:focus,
        &:focus-within {
            outline: dashed 2px lightgray;
            outline-offset: -2px;
            z-index: 100;

            .element__tool-buttons, .element__close-button {
                display: flex;
            }

            .element__edit-button {
                display: flex;
            }
        }

        &:hover {
            background-color: rgba($color-accent-dark-blue, 0.1);
        }
    }
}

.tool-bar {
    align-self: start;
    margin: 5px;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: fixed;
    left: 370px;

    &__button {
        @include icon-button;
        width: 25px;
        height: 25px;
        display: flex;
    }

    &__spacer {
        height: 7px;
    }
}
