@import './src/styles/colors';

.view-editor {
    background-color: $color-shadow;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: top;

    &__page {
        width: 65vw;
        border: 2px solid $color-dark;
        background-color: $color-highlight;
    }

    .section {
        margin: 15px; // TODO: This will be a property of how the section is generally defined.
        display: grid;
        gap: 15px; // TODO: This will be a property of how the section is generally defined.
        position: relative;
    }

    .element {
        border: dashed 4px lightgray;
        position: relative;
        transition: all 0.5s;

        &__image {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &--no-transition {
            transition: none;
        }
    }
}
