@import './src/styles/colors';

.view-editor {
    background-color: $color-shadow;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: top;

    &__page {
        width: 65vw;
        border: 2px solid $color-dark;
        background-color: $color-highlight;
    }

    .section {
        margin: 15px; // TODO: This will be a property of how the section is generally defined.
        display: grid;
        gap: 15px; // TODO: This will be a property of how the section is generally defined.
        position: relative;

        &__grid-column,
        &__grid-row {
            pointer-events: none;
            position: absolute;
            opacity: 0.3;
        }

        &__grid-column {
            border-left: solid 1px $color-dark;
            width: 0.5px;
            height: 100%;
        }

        &__grid-row {
            border-top: solid 1px $color-dark;
            height: 0.5px;
            width: 100%;
        }
    }

    .element {
        border: dashed 3px rgba(lightgray, 0);
        transition: top 0.2s, left 0.2s, width 0.2s, height 0.2s;

        &__image {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &__text {
            height: 100%;
            padding: 5px;
            font-size: 2em;
            outline: none;
        }

        &__tool-buttons {
            position: absolute;
            display: none;
            flex-direction: column;
            gap: 5px;
            padding: 15px;
            transition: $transition-normal;
        }

        &--no-transition {
            transition: none;
        }

        &:focus,
        &:focus-within {
            border: dashed 3px lightgray;

            .element__tool-buttons {
                display: flex;
            }
        }
    }
}

.tool-bar {
    align-self: start;
    margin: 5px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    &__button input[type="radio"] {
        display: none;
    }

    &__button {
        display: block;
        background-color: $color-highlight;
        border-radius: 5px;
        padding: 10px;
        //box-shadow: 2px 4px 9px 0px rgba(0,0,0,0.3);
        transition: transform $transition-normal-duration;
        cursor: pointer;
    }

    &__button:hover {
        transform: scale(1.1, 1.1);
    }
    
    &__button:focus-within {
        outline: solid rgba($color-dark, 0.6);
        outline-width: 1px;
        outline-offset: -5px;
    }

    &__button.checked {
        outline: solid rgba($color-dark, 0.8);
        outline-width: 3px;
        outline-offset: -5px;
    }

}