rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    
    match /views/{view} {
    	allow read: if true;
      allow write: if isSignedIn();
    }
  }
}