@import './src/styles/colors';

.dialog {
    display: none;
    z-index: 10;

    &.open {
        display: block;
    }

    &__content {
        background-color: $color-highlight;
        color: $color-dark;
        min-width: 650px;
        //border-radius: 15px;
        position: fixed;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.38);
    }

    &__backdrop {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: transparent;
    }
}
