@import './src/styles/colors';
@import './src/styles/mixins';

.drop-zone {
    border: 3px dashed darkgray;
    border-radius: 10px;
    padding: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: darkgray;
    cursor: pointer;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:hover {
        border-color: dimgray;
        background-color: $color-accent-light-green;
        color: inherit;
    }

    &.active {
        border-color: darkred;
        background-color: $color-accent-light-green;
        transition: $transition-normal;
        color: inherit;
    }

    &__file {
        display: grid;
        grid-template-columns: auto auto;
        gap: 15px;
    }

    &__image {
        height: 250px;
        width: 250px;
        object-fit: cover;
    }

    &__meta-data {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto 1fr;
        column-gap: 10px;
        color: initial;
        justify-items: start;
        & label {
            font-weight: bold;
            margin-left: auto;            
            &::after {
                content: ': ';
            }
        }
    }    

    &__error, &__button {
        margin-top: auto;
        grid-column: 1/3;
    }

    &__error {
        padding: 5px;
        text-align: center;
        width: 100%;
        font-weight: bold;
    }

    &__button {
        @include primary-button;

        border-radius: 5px;
        min-width: 75px;
        padding: 8px 16px;
        cursor: pointer;
    }
}

