@import './src/styles/mixins';

.image-panel {
    height: 100%;
    position: relative;

    &__image-list {
        display: flex;
        justify-items: start;
        flex-wrap: wrap;
        flex-basis: auto;
        overflow: hidden;
    }

    &__button, &__add-button {
        height: 100px;
        width: 20%;
        padding: 2.5px;
    }
    
    &__image {
        height: 99%;
        width: 100%;
        object-fit: cover;
        transition: all 0.1s;
    }

    &__add-button {
        @include new-button;

        display: flex;
        justify-content: center;
        align-items: center;
        color: initial;

    }
}

