.image-panel {
    height: 100%;
    position: relative;

    &__image-list {
        display: flex;
        justify-items: start;
        flex-wrap: wrap;
        flex-basis: auto;
        overflow: hidden;
        padding: 10px;
    }

    &__button {
        height: 100px;
        width: 20%;
        padding: 2.5px;
    }

    &__button.active {
        transition: all 0.5s ease-in;
        position: absolute;
        z-index:10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    &__image {
        height: 99%;
        width: 100%;
        object-fit: cover;
        transition: all 0.1s;

    }

    &__button:not(.active) &__image:hover {
        transition: all 0.5s;
        transform: scale(1.1);
    }
}

