@import './src/styles/colors';
@import './src/styles/mixins';

.view-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .view-item,
    &__create-view {
        height: 55px;
        width: 100%;
        transition: $transition-normal;
    }

    .view-item {
        border: 0.5px $color-highlight solid;
        color: $color-shadow;
        text-align: left;
        padding: 0 15px;
        display: flex;
        flex-direction: row;
        align-items: center;

        &__icon {
            margin-right: 5px;
        }
        
        &__tool-buttons {
            display: none;
            flex-direction: row;
            margin-left: auto;
            gap: 5px;
        }

        &__tool-button {
            @include tool-button;
        }

        &:hover .view-item__tool-buttons {
            display: flex;
        }

        &:hover,
        &:focus, 
        &--selected {
            color: $color-highlight;
            background-color: rgba($color-shadow, 0.2);
        }

        &:hover {
            transform: scale(105%, 105%);
        }
    }

    &__create-view {
        background-color: rgba($color-shadow, 0.2);
        color: $color-highlight;

        &__icon {
            font-size: 1.25em;
        }

        &:hover,
        &:focus {
            background-color: rgba($color-shadow, 0.5);
        }
    }

}
