// Colors
$color-dark: #353a40;
$color-accent-green: #3c6e71;
$color-accent-light-green: #C6D4D6;
$color-highlight: #ffffff;
$color-shadow: #d9dbe2;
$color-accent-dark-blue: #284b63;

// Transitions
$transition-normal-duration: 0.2s;
$transition-normal: all $transition-normal-duration;
