@import './src/styles/colors';

@mixin button {
    border: 2px solid lighten($color-dark, 50%);
    background-color: $color-highlight;
    color: $color-dark;
    border-radius: 3px;
    transition: $transition-normal;
    cursor: pointer;

    & input[type="radio"], 
    & input[type="checkbox"] {
        display: none;
    }

    &:hover, &:focus-within {
        background-color: $color-accent-light-green;
    }

    &:disabled {
        background-color: $color-shadow;
        color: lighten($color-dark, 50%);
        cursor: default;
    }
}

@mixin primary-button {
    @include button;
    border: 2px solid transparent;
    background-color: $color-accent-green;
    color: $color-highlight;

    &:hover, &:focus-within {
        border-color: $color-accent-green;
        background-color: $color-highlight;
        color: $color-accent-green;
    }
}

@mixin icon-button {
    @include button;
    display: flex;
    justify-content: center;
    align-items: center;

    &.checked, .ql-snow.ql-toolbar &.ql-active {
        border-color: transparent;
        background-color: $color-accent-green;
        color: $color-highlight;
    }

    &.checked:hover {
        border-color: $color-accent-green;
        background-color: $color-highlight;
        color: $color-accent-green;
    }

    & i {
        pointer-events: none;
        font-size: 0.9em;
    }
}

@mixin ql-button {
    @include icon-button;

    &.ql-active {
        border-color: transparent;
        background-color: $color-accent-green;
        color: $color-highlight;
    }

    &.ql-active:hover {
        border-color: $color-accent-green;
        background-color: $color-highlight;
        color: $color-accent-green;
    }

    &:hover, &:focus-within {
        background-color: $color-accent-light-green;
        color: $color-dark;
    }
}