@import './src/styles/colors';

.image-catalog-form {
    height: 75vh;

    display: grid;
    grid-template-rows: auto auto auto 1fr auto;
    justify-items: stretch;
    gap: 10px;
}

.image-catalog {
    height: 100%;
    overflow-y: auto;
    overflow-x: visible;

    &__item-list {
        height:100%;
    }
}

.collage {
    &__image-list {
        gap: 5px;
    }

    &__button {
        cursor: pointer;
    }

    &__button:hover {
        transform: scale(105%, 105%);
    }
}

.image {
    position: relative;

    &__name {
        position: absolute;
        font-size: 0.7em;
        left: 0px;
        bottom: 0px;
        padding: 5px;
        font-weight: bold;
        color: white;
        opacity: 0;
        background-color: rgba(black, 0.5);
        width: 100%;
    }

    &:hover &__name {
        opacity: 1;
        transition: $transition-normal;
    }
}